<template>
  <div class="v-catalog-item">
    <img class="img__cart" :src=" require('../../assets/images/productImages/' + product_data.image) " alt="img_product" />
    <p class="v-catalog-item__name">{{ product_data.name }}</p>
    <p class="v-catalog-item__price">$ {{ product_data.price }}</p>
    <button class="v-catalog-item_btn"
            v-if="!isAdded"
            @click="addToCart(), changeStyleButton()"
    >Add to basket</button>
    <button class="v-catalog-item_btn v-catalog-item_btn-active"
            v-else
            @click="removeBasketItem(product_data), changeStyleButton()"
    >is added</button>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'v-catalog-item',
  data () {
    return {
      isAdded: false
    }
  },
  props: {
    product_data: {
      type: Object,
      default: () => ({})
    }
  },
  methods: {
    ...mapActions(['removeBasketItem']),
    addToCart () {
      this.$emit('addToCart', this.product_data)
    },
    changeStyleButton () {
      this.isAdded = !this.isAdded
    }
  }
}
</script>

<style>
.v-catalog-item {

  font-family: "Inter", sans-serif;
  box-shadow: 0 0 8px 0 #e0e0e0;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.img__cart {
  height: 400px;
  width: 335px;
}

.v-catalog-item__name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0;
  margin-top: 15px;
}

.v-catalog-item__price {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.v-catalog-item_btn {
  padding-left: 20px;
  text-align: start;
  width: 335px;
  height: 60px;
  background-color: #2e2e2e;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: all 0.5s;
}

.v-catalog-item_btn-active{
  font-family: "Inter", sans-serif;
  padding-left: 20px;
  text-align: start;
  width: 335px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  cursor: pointer;
  transition: all 0.5s;
}
.v-catalog-item_btn:hover {
 opacity: 0.9;
}
.v-catalog-item_btn:active {
  width: 335px;
  height: 60px;
  background-color: rgb(0, 0, 0);
    color: white;
    width: 335px;
    height: 61px;
    font-size: 18px;
}
</style>
