<template>
<div class="vcatalog">
    <slot>
      <div class="filter__search__product">
        <searchProduct
        class="filter-search__input"
        placeholder="Search"
        type="text"
        v-model="searchValue"/>
        <catalogFilter/>
      </div>
    </slot>

    <div class="catalog_items">
      <div class="best_sellers">
        <h3>Bestsellers: 34</h3>
      </div>
      <div class="gridItmes">
        <vcatalogitem
        v-for="product in filteredProducts"
        :key="product.article"
        :product_data="product"
        @addToCart="addToCart"
      />
      </div>
    </div>
  </div>
</template>

<script>
import vcatalogitem from '../catalog/catalog-item.vue'
import { mapActions, mapGetters } from 'vuex'
import catalogFilter from '../filters/catalog-filter.vue'
import searchProduct from '../filters/search-product.vue'

export default {
  name: 'v-catalog',
  components: {
    vcatalogitem,
    catalogFilter,
    searchProduct
  },
  data () {
    return {
      selected: 'all',
      discontSelected: 'none',
      sortedProducts: [],
      selectedCategory: '',
      selectSale: '',
      searchValue: ''
    }
  },
  computed: {
    ...mapGetters(['PRODUCTS', 'SEARCH_VALUE', 'productsItems']),
    filteredProducts () {
      if (this.searchValue === '') return this.productsItems
      return this.productsItems.filter((el) => el.name.toLowerCase().includes(this.searchValue.toLowerCase()))
    }
  },
  methods: {
    ...mapActions(['ADD_TO_CART', 'filter']),
    addToCart (data) {
      this.ADD_TO_CART(data)
    }
  },
  mounted () {
    this.$store.dispatch('filter', [])
  }
}
</script>

<style>
.vcatalog {
  display: grid;
}

.best_sellers {
  margin: 100px 0px;
  width: 289px;
  height: 48px;
  left: 100px;
  top: 403px;
  font-size: 40px;
}
.filter-search__input {
  width: 335px;
  font-size: 18px;
  height: 60px;
}
.filter__styles {
  height: 61px;
  width: 335px;
  font-size: 18px;
}
.select__apply {
  height: 61px;
  width: 335px;
  background-color: black;
  color: white;
  font-size: 18px;
}

.gridItmes {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  flex-basis: auto;
  margin: 20px 20px;
}
.searchSelect {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 80px;
}

.filter__search__product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
</style>
