@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.container {
  max-width: 100%;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  background-image: url(https://damion.club/uploads/posts/2021-12/1640647656_1-damion-club-p-lesnoe-ozero-v-sibiri-priroda-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .area__contain {
    margin-bottom: 50px;
  }

  .area__form {
    position: absolute;
    display: flex;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    max-height: 500px;
    background-color: #fff;
    border-radius: 10px;

    .area__text {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      margin-bottom: 3rem;
      text-align: center;
    }

    .area__login {
      margin-bottom: 1.1rem;
    }

    .area__password {
      margin-bottom: 1.1rem;
    }

    .area__repeat-password {
      margin-bottom: 1.1rem;
    }

    #outlined-basic {
      width: 17rem;
      border-radius: 5px;
    }

    .btn {
      width: 18.7rem;
      padding: 15px 0;
      margin-bottom: 10px;
    }

    .text__link {
      text-align: center;
    }
  }
}
