@media (max-width: 1130px) {
    .testemonials__heading {
        font-size: 100px;
    }
}

@media (max-width: 1100px) {
    .team__gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1090px) {
    .news__board {
        grid-template-columns: repeat(2, 1fr)
    }
    .board__block:nth-child(3) {
        grid-column-start: span 2;
    }
}

@media (max-width: 1000px) {
    .gallery__images {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery__big {
        grid-column: span 1;
        grid-row: span 1;
    }

    .gallery__images img:last-child {
        grid-column: span 2;
        grid-row: span 1;
    }
}

@media (max-width: 980px) {
    .creativity__circle {
        width: 150px;
        height: 60px;
    }
}

@media (max-width: 960px) {
    .creativity__blocks {
        gap: 30px;
    }

    .creativity__block:nth-child(3) {
        grid-column-start: span;
    }
}

@media (max-width: 900px) {
    .description__wrapper {
        flex-wrap: wrap;
        gap: 35px;
    }

    .desription__content>*:not(:last-child) {
        padding-bottom: 40px;
    }
}

@media (max-width: 840px) {
    .creativity__blocks {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .gallery__images {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery__text {
        font-size: 120px;
    }
}

@media (max-width: 780px) {
    .footer__anow-wrapper {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
    }
}


@media (max-width: 740px) {
    .about_content {
        flex-wrap: wrap;
        gap: 50px;
    }
    .team__gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .feedback__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .feedback__content {
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 640px) {
    .header__logo {
        padding-right: 120px;
    }
}

@media (max-width: 580px) {
    .main__content-title {
        font-size: 50px;
        line-height: 50px;
    }

    .testemonials__heading {
        font-size: 50px;
    }

    .news__board {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .board__block-desc {
        margin-top: 20px;
        font-size: 20px;
    }

    .board__block:nth-child(3) {
        grid-column-start: span 1;
    }
}

@media (max-width: 515px) {
    .works__button {
        flex: 1 1 auto;
    }
}

@media (max-width: 500px) {
    .header__logo {
        padding-right: 60px;
    }

    .main__content-logo {
        padding-right: 60px;
    }

    .header__menu {
        display: none;
    }

    .burger__wrapper-menu {
        display: block;
    }

    .gallery__images {
        grid-template-columns: repeat(1, 1fr);
    }

    .creativity__block:nth-child(3) {
        grid-column-start: auto;
    }

    .gallery__big {
        grid-column: span 1;
        grid-row: span 1;
    }

    .gallery__images img:last-child {
        grid-column: span 1;
        grid-row: span 1;
    }

    .creativity__circle {
        width: 130px;
        height: 45px;
    }

    .board__block-desc {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .footer__anow-wrapper {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .about__heading {
        font-size: 90px;
    }
    .gallery__text {
        font-size: 50px;
    }
}

@media (max-width: 370px) {
    .form__inputs {
        flex-wrap: wrap;
        row-gap: 20px;
    }
}

@media (max-width: 358px) {
    .main__content-button {
        flex: 1 1 auto;
    }

    .about__heading {
        font-size: 75px;
    }

    .main__about {
        padding: 20px 0 30px;
    }
}

@media (max-width: 300px) {
    .testemonials__heading {
        font-size: 40px;
    }
}