* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p,
ul {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

.ibg {
    position: relative;
}

.ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 10px 15px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10px;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__menu {
    padding-left: 210px;
}

body {
    font-family: 'League Gothic', sans-serif;
}

.header__logo {
    color: #222222;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    padding: 30px;
}

.menu__lists {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.menu__list {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
}

.menu__list:hover {
    color: #FD8558;
}

.main__block-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -2;
}

.main__content {
    max-width: 630;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
}

.main__content-title {
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    color: #FFFFFF;
}

.main__content-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.main__content-button {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    padding: 14px 39px;
    background: inherit;
    border: 2px solid #FD8558;
    color: #FFFFFF;
}

.main__content-button:hover {
    background: #FD8558;
}

.main__content>*:not(:last-child) {
    padding-bottom: 41px;
}

#burger__menu-toggle {
    opacity: 0;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.burger__wrapper-menu {
    display: none;
    cursor: pointer;
}

.burger__menu-btn {
    display: flex;
    position: absolute;
    top: 27px;
    left: 19px;
    width: 26px;
    height: 26px;
    z-index: 1;
}

.burger__menu-btn>span,
.burger__menu-btn>span::before,
.burger__menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    height: 2px;
    background-color: red;
}

#burger__menu-toggle:checked~.burger__menu~.burger__menu-btn>span {
    top: 0;
    transform: rotate(45deg);
}

#burger__menu-toggle:checked~.burger__menu~.burger__menu-btn>span::before {
    top: 0;
    transform: rotate(0);
}

#burger__menu-toggle:checked~.burger__menu~.burger__menu-btn>span::after {
    transform: rotate(90deg);
}

.burger__menu-btn>span::before {
    content: "";
    top: -8px;
}

.burger__menu {
    display: none;
}

.burger__menu-btn>span::after {
    content: "";
    top: 8px;
}

.main__about {
    padding: 52px 0 60;
}

.about__heading {
    position: normal;
    margin-top: 200px;
    font-weight: 400;
    font-size: 150px;
    line-height: 145px;
    color: #f7f7f7;
}

.main__content {
    display: flex;
    gap: 105px;
}

.content__right-text {
    font-weight: 400;
    font-size: 14px;
    color: #FD8558;
}

.content_right-subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #333333;
}

.about__content-right,
.about__content-left {
    width: 100%;
}

.about__content-right>*:not(:last-child) {
    padding-bottom: 20px;
}

.about__content-left>*:not(:last-child) {
    padding-bottom: 10px;
}

.content__left-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
}

.content__left-subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #999999;
}

.about__content {
    display: flex;
    gap: 105px;
    margin-top: 100px;

}

#burger__menu-toggle:checked~.burger__menu {
    display: block
}

.burger__menu {
    position: absolute;
    background: #FFFFFF;
    max-height: 300px;
    width: 100%;
    top: 0;
    left: 0;
    width: 200px;
}

.burger__list {
    cursor: pointer;
    padding: 10px;
}

.burger__list:not(:last-child) {
    padding-bottom: 15px;
}

.burger__list:hover {
    color: #FD8558;
}

.about__description {
    padding-top: 58px;
}

.description__image img {
    width: 100%;
    object-fit: cover;
}

.description__image img {
    width: 100%;
}

.desription__text-bold {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
}

.desription__text {
    color: #FD8558;
}

.description__author-name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.description__author-post {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #CACACA;
}

.description__author > *:not(:last-child) {
    padding-bottom: 20px;
}

.desription__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
}

.desription__content > *:not(:last-child) {
padding-bottom: 90px;
}

.main__creativity {
    padding: 60px 0;
}

.creativity__block-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
}

.creativity__block-description {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #999999;
}

.creativity__blocks {
    display: grid;
    justify-content: center;
    grid-template-columns:1fr 1fr 1fr;
    column-gap: 58px;
    row-gap: 30px;
}

.creativity__block {
    display: grid;
    justify-items: center;
    text-align: center;
}

.creativity__block >*:not(:first-child) {
    padding-bottom: 20px;
}

.creativity__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 67px;
    width: 100%;
    gap: 40px;
}

.creativity__circle {
    width: 180px;
    height: 80px;
    border-radius: 50%;
    background: rgba(253, 133, 88, 0.2);
}

.creativity__strip {
    height: 2px;
    background: #F5F5F5;
    width: 100%;
}

.wrapper__works {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

.works__button {
    padding: 13px 37px;
    background-color: #FD8558;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
}

.works__content {
    max-width: 312px;
}

.works__text {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #FD8558;
}

.works__subText {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #333333;

}

.gallery__text {
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 180px;
    text-align: right;
    color: #F7F7F7;
}

.gallery__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery__images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery__big {
    grid-column: span 2;
    grid-row: span 2;
}

.gallery__block {
    position: relative;
}

.gallery__block-info {
    position: absolute;
    display: flex;
    bottom: 37px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 47px 40px;
    column-gap: 49px;
    background: rgba(255, 255, 255, 0.85);
}

.skills {
    padding-top: 70px;
}

.skill__content-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FD8558;
}

.skill__content-subText {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #222222;
}

.skill__content-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-top: 15px;
    color: #999999;
}

.skills__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.skill__content {
    max-width: 500px;
}

.progressbar__block-input {
    width: 100%;
    background: linear-gradient(90deg, #FF4B05 0%, #FFAE35 72.59%);
    -webkit-appearance: none;
}

.progressbar__block-input::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
    border-radius: 50%;
}

.skills__progressbar {
    flex: 1 1 auto;
}

.progressbar__block-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.progressbar__block-text {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #222222;
}

.progressbar__block-done {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
}

.skills__progressbar >*:not(last-child) {
    padding-bottom: 45px;
}

.team__content {
    text-align: center;
}

.team__content-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FD8558;
}

.team__content-subHeading {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-transform: capitalize;
    color: #222222;
}

.team_item {
    position: relative;
    cursor: pointer;
}

.team__item-block {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 10;
}

.team__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 40px;
}

.team-block-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.team-block-subText {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FCFCFC;
}

.team__subText img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team__item img {
    transition: all 0.3s ease 0s;
}

.team__item:hover img {
    transform: scale(1.1);
}

.team {
    padding-bottom: 40px;
}

.team__button-wrapper {
    text-align: center;
    margin-top: 80px;
}

.team__button {
    padding: 13px 37px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    background: #FD8558;
    color: #FFFFFF;
    border: none;
}

.testemonials {
    background: #3A0F73;
    padding: 70px 0;
}

.testemonials__content {
    align-items: center;
}

.testemonials__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    text-align: center;
    color: rgba(170, 170, 170, 0.1);
}

.testemonials__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    max-width: 824px;
    margin: 0 auto;
}

.testemonial__person {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.testemonial__block-text,
.testemonial__block-subText {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.testemonials__content >*:not(last-child) {
    padding-bottom: 20px;
}

.news__header-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;

    color: #FD8558;
}

.news__header {
    text-align: center;
}

.news {
    padding: 60px 0 0;
}

.news__header-subTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #222222;
}

.news__header > *:not(last-child) {
    padding-bottom: 45px;
}

.board__content {
    display: flex;
    column-gap: 15px;
    margin-top: 26px;
}

.board__content-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #FD8558;
}

.board__content-date {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}

.board__content-date::before {
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    background: #DFDEDE;
    margin-bottom: 2px;
    margin-right: 10px;
}

.board__block-link {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FD8558;
    display: inline-block;
    margin-top: 38px;
}

.board__block-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #222222;
    margin-top: 20px;
    max-width: 326px;
}

.news__board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 50px 0 50px;
}

.board__block img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.feedback__address-text, .feedback__information-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(34, 34, 34, 0.4);
}

.feedback__address-subText .feedback__information-subText .feedback__information-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #222222;
}

.feedback__content {
    max-width: 293px;
}

.feedback__content > *:not(last-child) {
    padding-bottom: 45px;
}

.form__inputs, .form__textarea {
    width: 100%;
    display: flex;
    column-gap: 30px;
    margin-bottom: 30px;
}

.form__inputs input {
    width: 100%;
    border: 1px solid;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 18px 40px;
}

.form__inputs input::placeholder, .form__textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}

.feedback__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.form__textarea {
    min-height: 128px;
    box-sizing: border-box;
    padding: 18px 40px;
    resize: none;
}

.form__button {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    padding: 17px 38px;
    border: none;
    background: #FD8558;
}

.footer {
    background: #111111;
    margin-top: 40px;
    padding: 90px;
}

.footer__anow-text {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}

.anow__info-tel, .anow__info-email {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}

.footer__anow >*:not(:last-child) {
    padding-bottom: 27px;
}

.footer__anow-info {
    display: flex;
    flex-wrap: wrap;
}

.anow__info-tel {
    padding-right: 10px;
    display: block;
}

.anow__info-email {
    border-left: 1px solid;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 10px;
}

.footer__block-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.footer__block-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #BABABA;
}

.footer__block-list:not(:last-child) {
    padding-bottom: 9px;
}

.footer__anow-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
}

.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #BABABA;
    margin-top: 70px;
}

.footer__copyright-span {
    color: #FFFFFF;
}