* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

ul li {
    list-style: none;
}

form {
    display: flex;
    margin-bottom: 2rem;
    gap: 10px;
    padding-top: 35px;
}

[type='text'] {
    width: 100%;
}

[type='text']:focus,
[type='text']:active {
    outline: 0;
    border: 2px solid rgb(54, 10, 130);
}

.form__button {
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    background-color: rgb(91, 13, 226);
}

.form__button:hover {
    background-color: rgb(78, 17, 184);
    transition: 0.3s;

}

.form__input {
    padding: 10px 7px;
    border-radius: 3px;
    border: 2px solid #ccc;
}


.list {
    background: #f4f4f4;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 4px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.list__button {
    padding: 10px 15px;
    cursor: pointer;
    background: rgb(247, 4, 4);
    border: none;
    color: #fff;
    border-radius: 3px;
}

.list__button:hover {
    background: rgb(176, 7, 7);
    transition: 0.3s;
}

.title__hind {
    text-align: center;
    font-size: 30px;
    opacity: 0.2;
}

.list span {
    display: inline-block;
    padding: 0.5rem;
    width: 100%;
    border-radius: 4px;
    border: 2px solid transparent;
}

.list span:hover {
    outline: 0;
    border: 2px solid rgb(91, 13, 226);
    background: rgb(252, 250, 255) ;
    transition: 0.6s;
}

.list span:focus {
    outline: 0;
    border: 2px solid rgb(91, 13, 226);
    background: rgb(225, 207, 255) ;
    transition: 0.6s;
}