<template>
  <div class="app">
    <post-form/>
    <post-list :posts="posts"/>
  </div>
</template>

<script>
import PostForm from './components/PostForm.vue';
import PostList from './components/PostList.vue';
  export default {

    components: {
      PostForm, PostList
    },

    data () {
      return {
        posts: [
          {id:1, title: 'javasript', body: 'opisanie posta'},
          {id:2, title: 'javasript 2', body: 'opisanie posta 2'},
          {id:3, title: 'javasript 3', body: 'opisanie posta 3'},
        ],
        title: '',
          body: '',
      }
    },
    methods: {
      createPost() {
        const newPost = {
          id: Date.now(),
          title: this.title,
          body: this.body,
        }
        this.posts.push(newPost);
        this.title = '';
        this.body = '';
      },
    }
  }
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 20px;
}


</style>