<template>
  <div class="v-cart-item">
    <img
      class="v-cart-item__image"
      :src="require('../../assets/images/productImages/' + cart_item_data.image ) "
      alt="img_product"
    />
    <div class="v-cart-item__info">
      <p>{{ cart_item_data.name }}</p>
      <p class="cart__item__price">${{ cart_item_data.price }}</p>
      <button class="btn__cart" @click="deleteFromCart">Remove</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'v-cart-item',
  props: {
    cart_item_data: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {}
  },

  computed: {},
  methods: {
    deleteFromCart () {
      this.$emit('deleteFromCart')
    }
  },
  mounted () {
    const cartItemData = this.cart_item_data
    cartItemData.quantity = 1
  }
}
</script>

  <style lang="scss">
.v-cart-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 40px 40px;
  font-size: 16px;
}

.v-cart-item__image {
  width: 100px;
  height: 100px;
}

.quantity__btn {
  cursor: pointer;
}

.quantity__tools {
  user-select: none;
}

.btn__cart {
  background: none;
  border: 0;
  text-decoration: underline black;
}

.v-cart-item__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
}

// .cart__item__price {
//   font-weight: 500;
// }
</style>
