<template>
  <div class="price__content">
    <p class="price__style subTotal">subTotal: ${{ totalPrice }}</p>
    <p class="price__style sale">Sale: 0.00</p>
    <p class="price__style removeAll">
      Content:<button class="removeAll" @click.stop="removeBasketItem">
        remove all
      </button>
    </p>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'price-modal',
  data () {
    return {}
  },
  methods: {
    ...mapActions([
      'removeBasketItem'
    ]),
    closeModal: function () {
      this.show = false
    }
  },
  computed: {
    ...mapGetters(['totalPrice'])
  }

}
</script>

<style>
.price__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 10px;
}
.removeAll {
  background: none;
  border: 0;
  text-decoration: underline black;
  font-size: 16px;
}
.price__style p {
 display: flex;
 justify-content: space-between ;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 500;
 font-size: 19px;
 line-height: 19px;
}
</style>
