<template>
    <div v-if="show" class="modal-shadow" @click.self="closeModal">
        <div class="modal">
            <slot name="title">
                <h3 class="modal-title">Total</h3>
            </slot>
            <slot name="price">
              <priceModal/>
            </slot>
            <slot name="basket_product">
              <div class="content__products">
                    <vcartitem
                    v-for=" (item, index) in cart_data"
                    :key="item.article"
                    :cart_item_data="item"
                    @deleteFromCart="deleteFromCart(index)"/>
                </div>
            </slot>

            <slot name="footer">
                <div class="modal-footer">
                    <p>checkout</p>
                    <p>></p>
                </div>
            </slot>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import vcartitem from '../basket/cart-item.vue'
import priceModal from '../basket/price-modal.vue'
export default {
  name: 'v-modal',
  data () {
    return {
      show: false
    }
  },
  components: {
    vcartitem,
    priceModal
  },
  props: {
    cart_data: {
      type: Array,
      default () {
        return []
      }
    }
  },
  methods: {
    ...mapActions([
      'DELETE_FROM_CART',
      'removeBasketItem'
    ]),
    closeModal () {
      this.show = false
    },
    deleteFromCart (index) {
      this.DELETE_FROM_CART(index)
    }
  },
  computed: {
    ...mapGetters(['totalPrice'])
  }
}
</script>

<style scoped
   lang="scss">
.modal-shadow {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.39);
}
    .modal {
      z-index: 10;
        background: #fff;
        border-radius: 8px;
        min-width: 455px;
        max-width: 455px;
        position: fixed;
        top: 0%;
        right: 0%;
        font-size: 16px;

        &-title {
          display: flex;
          justify-content: flex-start;
          color: #000000;
          font-size: 24px;
          margin-left: 41px;
        }

        &-content {
          display: flex;
          justify-content: flex-start;
          margin-bottom: 20px;
          margin-left: 41px;
          font-size: 16px;
        }

        &-footer {
            background-color: #000000;
            color: white;
        }
    }
.modal-footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px;
  height: 84px;
  align-items: center;
}
</style>
