.list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid rgb(139, 139, 222);
    border-radius: 0 4px;
}

.lists {
    margin: 0;
    padding: 0;
}

.groupItems {
    display: flex;
    align-items: center;
}

.list_linethrough {
    list-style: none; 
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(36, 152, 100);
    border-radius: 5px;
    align-items: center;
    padding: 0 5px;
    margin-top: 15px;
    text-decoration: line-through;
}