<template>
  <div class="vheader">
    <h1>S-SHOP</h1>
    <p class="header_catalog">catalog</p>
    <div class="basket">
        <p class="header_text">profile</p>
        <p class="header_text" @click="showModal">basket({{CART.length}})</p>
        <vmodal ref="modal"
        :cart_data="CART"/>
    </div>
  </div>
  <div class="silver_line"></div>
</template>

<script>
import vmodal from '../modal/modal.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'v-header',
  components: {
    vmodal
  },
  methods: {
    showModal: function () {
      this.$refs.modal.show = true
    }
  },
  computed: {
    ...mapGetters([
      'CART'
    ])
  }
}
</script>

<style>
.vheader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header_catalog {
  display: flex;
  text-align: left;
  margin-right: 500px;
}

.header_catalog:hover {
  color: orange;
}

.basket {
    display: flex;
    text-align: start;
    gap: 10px;
}
.header_text:hover {
color: orange;
}

.silver_line {
    margin-bottom: 40px;
    height: 2px;
    background: #F5F5F5;
    width: 100%;
}
</style>
