@media (max-width:1215px) {
    .video__blocks {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .clients__logotips {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1256px) {
    .practice__blocks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    .info__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px
    }

    .info {
        transform:translateY(-30%);
    }
}

@media (max-width:1206px) {
    .contacts__blocks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .footer__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width:1058px) {
    .clients__logotips {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width:1024px) {
    .footer__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 970px) {
    .container {
        max-width: 900px;
    }

    .practice__blocks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
      }
}

@media (max-width: 920px) {
    .achievements__blocks {
        grid-template-columns: repeat(2, 1fr);
        gap: 38px;
    }

    .info__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px
    }

    .info {
        transform:translateY(-15%);
    }  
}

@media (max-width:870px) {
    .clients__logotips {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .contacts__blocks {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }  
}

@media (max-width: 835px) {
    .footer__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }  
    .container {
        width: 1200;
        padding-left: 0;
        padding-right: 0;
      }
}

@media (max-width: 791px) {
    .header__menu {
        display: none;
    }

    .footer__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }  
}

@media (max-width: 715px) {
    .practice__blocks {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .clients__logotips {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .achievements__blocks {
        grid-template-columns: repeat(1, 1fr);
        gap: 38px;
        justify-content: center;
    }

    .footer__block {
        margin: 0 auto;
    }

    .clients__logotips {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
