@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;1,900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0 0 5px;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  font-family: 'Montserrat';
  font-size: 14px;
  background-color: #FAFAFA;
}

h1 {
  margin: 0;
}

.container {
  width: 1200;
  padding-left: 200px;
  padding-right: 200px;
}

/* header start */

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__wrapper {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.header__link {
  color: #737373;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  margin-right: 21px;
}

.header__link:last-child {
  margin-right: 0;
}

/*intro start*/

.intro {
  background: url('../final-project/img/cover.png') no-repeat;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro__content {
  max-width: 630;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
}

.intro-title {
  max-width: 509px;
  font-weight: 800;
  font-size: 58px;
  color: #252B42;
  margin-bottom: 35px;
}

.intro-subTitle {
  max-width: 376px;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 45px;
  color: #737373;
}

.main__content-button {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  padding: 14px 39px;
  background: inherit;

  border: 2px solid #FD8558;
  color: #FD8558;
  border-radius: 37px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.main__content-button:hover {
  background-color: #FD8558;
  color: #FFFFFF;
}

.main__content-button-right {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  padding: 14px 39px;
  background: inherit;
  border: 2px solid #00A0C1;
  color: #00A0C1;
  border-radius: 37px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.main__content-button-right:hover {
  background-color: #00A0C1;
  color: #FFFFFF;
}

.main__content-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 36px;
  gap: 10px;
}

/* info start */

.info {
  transform: translateY(-70%);
}

.info__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.info__block {
  padding: 0 10px;
  display: flex;
  column-gap: 10px;
}

.info__item {
  min-width: 328px;
  max-width: 328px;
  height: 220px;
  background-color: #FFFFFF;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding-left: 30px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  transition: background-color .3s ease;
}

.info__item:hover {
  background-color: #00A0C1;
  color: #FFFFFF;
}

.info__item:hover .info__image svg path {
  fill: #00A0C1;
}

.info__image {
  margin-bottom: 20px;
}

.info__image img {
  height: 40px;
}

.info__title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.info__text {
  color: #737373;
  font-size: 14px;
}

/* achievements start */

.achievements {
  margin-top: 80px;
  background: #FAFAFA;
}


.achievements__wrapper {
  display: flex;
  margin: 0 -10px;
  justify-content: center;
  align-items: center;
}

.achievements__text {
  margin: 0;
  width: 33.333%;
}

.achievements__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
}

.achievements__subTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  text-align: center;
}

.achievements__blocks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  margin-top: 45px;
}

.achievements__block {
  min-width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  padding: 0 10px;
  margin: 0 auto;
}

.achievements__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 209px;
  padding: 30px 40px;
  gap: 10px;
  background-color: #fff;
}

.achievements__image {
  padding-bottom: 10px;
}

.achievements__image-img {
  margin-bottom: 27px;
}

.achievements__image-img1 {
  margin-bottom: 15px;
}

.achievements__text {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.achievements__subText {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}

/* practice start */

.practice {
  margin-top: 200px;
  background: #FAFAFA
}

.practice__wrapper {
  display: flex;
  justify-content: center;
}

.practice__big-text {
  width: 33.33%;
}

.practice__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
  text-align: center;
}

.practice__subTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 50px;
  margin-bottom: 45px;
  text-align: center;
}

.practice__blocks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.practice__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 230px;
  height: 340px;
  background-color: #FFFFFF
}

.practice__text {
  width: 128px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.practice__subText {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
  margin-bottom: 45px;
}

/* video start */

.video__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-top: 180px;
  margin-bottom: 15px;
  text-align: center
}

.video__subTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 100px;
  text-align: center;
}

.video__blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.video__block-video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.video__block-text {
 text-align: center;
}

.video__block-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  width: 322px;
  margin-bottom: 10px;
}

.video__block-subTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.video__block-vector {
  transform: translateY(70%);
}

.video__block-firsttext {
  width: 277px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.video__block-firsttext:before {
  content: url(../final-project/img/peoples.svg);
  left: 10px;
}

.video__block-subText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.video__block-twotext {
  width: 277px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.video__block-twotext::before {
  content: url(../final-project/img/spedometer.svg);
}

.video__block-twosubText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

/* clients start */

.clients {
  background-color: #FAFAFA;
}

.clients__logotips {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 86px;
  margin-top: 158px;
  margin-bottom: 70px;
}

.client_img {
  margin: 0 auto;
}


/* кнопка */

.text-field {
  transform: translateY(50%);
}

.text-field__group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background: #16697A;
  border-radius: 2px;
  min-height: 124px;

}

.text__field-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}


.search__block {
  display:flex;
  
}

.search__input {
  border: 2px solid white;
  padding: 21px 230px 21px 21px;
  width: 100px;
}

.search__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
  border: 2px solid white;
  padding: 20px 25px;
  background: inherit;
  margin-right: 48px;
}

.search__button:hover {
  background: #FFA62B;
  border: 2px solid #FFA62B;
  cursor: pointer;
  transition: background-color .3s ease;
}

.text-field__group .text-field__input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  z-index: 2;
}

.text-field__group .text-field__btn {
  background: #FFA62B;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
}

.client__footer {
  height: 77px;
  background: #252B42;
  width: 100%;
}

/* contacts start */

.contact__wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.contacts__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 5px;
}

.contacts__subTitle {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 5px;
}

.contacts__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contact__block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  min-width: 328px;
  max-width: 328px;
  max-height: 333px;
  gap: 5px;
  margin-top: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FFFFFF;
}

.contacts__mail {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
}

.contacts__subMail {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
}

.contacts__miniTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
}

.contacts__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  padding: 14px 39px;
  background: inherit;
  border: 2px solid #FD8558;
  color: #FD8558;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.contacts__btn:hover {
  background-color: #FD8558;
  color: #FFFFFF;
}

.contact__block-active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  min-width: 328px;
  max-width: 328px;
  min-height: 393px;
  max-height: 393px;
  gap: 15px;
  margin-top: 80px;
  background-color: #252B42;

}

.contacts__mail-active {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.contacts__subMail-active {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.contacts__miniTitle-active {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

.contacts__btn-active {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  padding: 14px 39px;
  background: inherit;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.contacts__btn-active:hover {
  background-color: #fff;
  color: black;
}


/* feedback start */

.feedback {
  background-color: #FFFFFF;
}

.feedback__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 0;
  row-gap: 50px;
  margin: 0 30px;
  margin-top: 145px;
}

.feedback__content>*:not(:last-child) {
  padding-bottom: 10px;
}

.feedback__content-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #252B42;
  text-align: center;
}

.feedback__content-subtext {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #737373;
  text-align: center;
}

.form__button {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #FFA62B;
  border: 2px solid #FFA62B;
  background: inherit;
  padding: 15px 40px;
  border-radius: 5px;
  transition: background-color .3s ease;
}

.feedback__form form {
  display: flex;
  text-align: center;
}

.form__button:hover {
  background: #FFA62B;
  color: white;
}

/*footer start*/

.footer__background {
  background: #16697A;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 30px;
  padding: 50px 0;
}

.footer__block {
  margin: 0 auto;
  text-align: start;
  padding: 10px;
}

.footer__block-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  padding-bottom: 20px;
  cursor: pointer;
  text-align: center;
}

.footer__block-lists>*:not(:last-child) {
  padding-bottom: 10px;
  text-align: start;
}

.footer__block-link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}

.footer__info-info {
  text-align: center;
}
.footer__info>*:not(:last-child) {
  padding-bottom: 10px;
}



.footer__info-telephone {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}

.footer__info-telephone,
.footer__info-text,
.footer__info-mail {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}

/* footer-end start */

.footer__end-wrapper {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 25px 0;
}

.footer__copyright-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #737373;
  margin: 0 auto;
}

.footer__logo>*:not(:last-child) {
  padding-right: 20px;
}