<template>
  <div class="vfooter">
    <div class="shop_footer">
      <h3>S-SHOP</h3>
    </div>
    <div class="contacts">
      <p>contacts</p>
      <p>copiryght</p>
      <a href="#"></a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'v-footer'
}
</script>

<style>
.vfooter {
  width: 100%;
  height: 110px;
  height: 100%;
  background-color: #1b1b1b;
  color: white;
  margin-bottom: 0;
  margin-top: 135px;
  display: flex;
  justify-content: space-between;
}

.shop_footer {
  margin-left: 15px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-right: 20px;
}
</style>
