.wrapper {
    margin-top: 20px;
}

.button {
    margin-left: 10px;
}

.lists {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    max-width: 400px;
    height: 500px;
    overflow-y: scroll;
}