<template>
    <div class="searchSelect">
      <select class="filter__styles" v-model="selectedCategory">
        <option value="sneaker">Sneakers</option>
        <option value="no-sneaker">No-sneakers</option>
      </select>
      <select class="filter__styles" v-model="selectSale">
        <option value="bestsellers">Bestsellers</option>
        <option value="full price">Full price</option>
      </select>
      <button
        class="select__apply"
        @click="filter([{ category: selectedCategory }, { discount: selectSale }])">
        Apply
      </button>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'catalog-filter',
  data () {
    return {
      selected: 'all',
      discontSelected: 'none',
      sortedProducts: [],
      selectedCategory: '',
      selectSale: '',
      searchValue: ''
    }
  },
  computed: {
    ...mapGetters(['PRODUCTS', 'SEARCH_VALUE', 'productsItems']),
    filteredProducts () {
      if (this.searchValue === '') return this.productsItems
      return this.productsItems.filter((el) => el.name.toLowerCase().includes(this.searchValue.toLowerCase()))
    }
  },
  methods: {
    ...mapActions(['ADD_TO_CART', 'filter']),
    addToCart (data) {
      this.ADD_TO_CART(data)
    }
  },
  mounted () {
    this.$store.dispatch('filter', [])
  }
}
</script>

<style>
</style>
