<template>
  <input
    class="filter-search__input"
    placeholder="Search"
    type="text"
    v-model="searchValue"
  />
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'search-product',
  data () {
    return {
      sortedProducts: [],
      searchValue: ''
    }
  },
  computed: {
    ...mapGetters(['PRODUCTS', 'SEARCH_VALUE', 'productsItems']),
    filteredProducts () {
      if (this.searchValue === '') return this.productsItems
      return this.productsItems.filter((el) => el.name.toLowerCase().includes(this.searchValue.toLowerCase()))
    }
  }
}
</script>
