<template>
  <div id="app">
    <vheader />
    <vcatalog />
    <vfooter />
  </div>
</template>

<script>
import vheader from './components/header/header.vue'
import vfooter from './components/footer/footer.vue'
import vcatalog from './components/catalog/catalog.vue'

export default {
  name: 'App',
  components: {
    vheader,
    vfooter,
    vcatalog
  }
}
</script>

<style>
#app {
  font-family: inter, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
