.buttonGroup {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.wrapper {
    border-radius: 10px;
    border: 2px solid #93a1b0	 !important;
    background: #cccccc !important;
}
